@model IEnumerable<Tikkit_SolpacWeb.Models.Users>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<br />
<a class="btn btn-outline-info" asp-action="ExportUsersToExcel" asp-all-route-data="@(Context.Request.Query.ToDictionary(k => k.Key, k => k.Value.ToString()))">Xuất file</a>
<form id="importForm" asp-action="ImportUsersFromExcel" method="post" enctype="multipart/form-data" style="display: none;">
    <input type="file" id="file" name="file">
</form>
<button id="importButton" class="btn btn-primary">Import</button>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Tên
            </th>
            <th>
                Email
            </th>
            <th>
                Công ty
            </th>
            <th>
                Nhóm người dùng
            </th> 
            <th>
                Trạng thái
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Partner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    document.getElementById("importButton").addEventListener("click", function () {
        document.getElementById("file").click();
    });

    document.getElementById("file").addEventListener("change", function () {
        if (this.value) {
            document.getElementById("importForm").submit();
        }
    });
</script>
