@model Tikkit_SolpacWeb.Models.Requests


<div>
    <div class="row">
        <div class="col-md-6">
            <dl>
                <dt>@Html.DisplayNameFor(model => model.RequestDate)</dt>
                <dd>@Html.DisplayFor(model => model.RequestDate)</dd>

                <dt>@Html.DisplayNameFor(model => model.RequestPerson)</dt>
                <dd>@Html.DisplayFor(model => model.RequestPerson)</dd>

                <dt>@Html.DisplayNameFor(model => model.CreatePerson)</dt>
                <dd>@Html.DisplayFor(model => model.CreatePerson)</dd>

                <dt>@Html.DisplayNameFor(model => model.Project)</dt>
                <dd>@Html.DisplayFor(model => model.Project)</dd>

                <dt>@Html.DisplayNameFor(model => model.SubjectOfRequest)</dt>
                <dd>@Html.DisplayFor(model => model.SubjectOfRequest)</dd>

                <dt>@Html.DisplayNameFor(model => model.ContentsOfRequest)</dt>
                <dd>@Html.DisplayFor(model => model.ContentsOfRequest)</dd>

                <dt>@Html.DisplayNameFor(model => model.ImagePath)</dt>
                <dd>
                    @if (!string.IsNullOrEmpty(Model.ImagePath))
                    {
                        <img src="@Model.ImagePath" alt="Uploaded image" style="max-width: 100%; height:auto; cursor: pointer;" class="thumbnail" data-imagepath="@Model.ImagePath" />
                    }
                    else
                    {
                        <p>No image uploaded</p>
                    }
            </dl>
        </div>
        <div class="col-md-6">
            <dl>
                <dt>@Html.DisplayNameFor(model => model.StartDate)</dt>
                <dd>@Html.DisplayFor(model => model.StartDate)</dd>

                <dt>@Html.DisplayNameFor(model => model.EndDate)</dt>
                <dd>@Html.DisplayFor(model => model.EndDate)</dd>

                <dt>@Html.DisplayNameFor(model => model.TotalTime)</dt>
                <dd>@Html.DisplayFor(model => model.TotalTime)</dd>

                <dt>@Html.DisplayNameFor(model => model.Supporter)</dt>
                <dd>@Html.DisplayFor(model => model.Supporter)</dd>

                <dt>@Html.DisplayNameFor(model => model.Reason)</dt>
                <dd>@Html.DisplayFor(model => model.Reason)</dd>

                <dt>@Html.DisplayNameFor(model => model.SupportContent)</dt>
                <dd>@Html.DisplayFor(model => model.SupportContent)</dd>
            </dl>
        </div>
    </div>
</div>








<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Full-size image</h5>
            </div>
            <div class="modal-body">
                <img id="fullSizeImage" src="" alt="Full-size image" style="width: 100%; height: auto;" />
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("a[data-toggle='modal']").on("click", function (e) {
            e.preventDefault();
            var url = $(this).attr("href");
            var title = $(this).data("title");
            $("#myModalLabel").text(title);
            // Xóa nội dung cũ trước khi tải nội dung mới
            $("#myModal .modal-body").empty();
            $("#myModal .modal-body").load(url, function () {
                $("#myModal").modal("show");
            });
        });

        $(document).on("click", ".thumbnail", function () {
            var imagePath = $(this).data("imagepath");
            $("#fullSizeImage").attr("src", imagePath);
            $("#imageModal").modal("show");
        });

        $("#imageModal").on("hidden.bs.modal", function () {
            $("#fullSizeImage").attr("src", "");
        });
    });
</script>