@model Tikkit_SolpacWeb.Models.Requests


<div>
    <div class="row">
        <div class="col-md-6">
            <dl>
                <dt>Ngày yêu cầu</dt>
                <dd>@Html.DisplayFor(model => model.RequestDate)</dd>

                <dt>Người yêu cầu</dt>
                <dd>@Html.DisplayFor(model => model.RequestPerson)</dd>

                <dt>Người tạo yêu cầu</dt>
                <dd>@Html.DisplayFor(model => model.CreatePerson)</dd>

                <dt>Dự án</dt>
                <dd>@Html.DisplayFor(model => model.Project)</dd>

                <dt>Tiêu đề</dt>
                <dd>@Html.DisplayFor(model => model.SubjectOfRequest)</dd>

                <dt>Nội dung yêu cầu</dt>
                <dd>@Html.DisplayFor(model => model.ContentsOfRequest)</dd>

                <dt>Chi tiết</dt>
                <dd>
                    @if (!string.IsNullOrEmpty(Model.WordPath))
                    {
                        <a href="@Model.WordPath" target="_blank"><i class="bi bi-file-word-fill"></i></a>
                    }
                    else
                    {
                        <p>Không có chi tiết</p>
                    }
                </dd>
            </dl>
        </div>
        <div class="col-md-6">
            <dl>
                <dt>Ngày bắt đầu</dt>
                <dd>@Html.DisplayFor(model => model.StartDate)</dd>

                <dt>Ngày kết thúc</dt>
                <dd>@Html.DisplayFor(model => model.EndDate)</dd>

                <dt>Thời gian đã hỗ trợ</dt>
                <dd>@Html.DisplayFor(model => model.TotalTime)</dd>

                <dt>Người hỗ trợ</dt>
                <dd>@Html.DisplayFor(model => model.Supporter)</dd>

                <dt>Nguyên nhân</dt>
                <dd>@Html.DisplayFor(model => model.Reason)</dd>

                <dt>Nội dung hỗ trợ</dt>
                <dd>@Html.DisplayFor(model => model.SupportContent)</dd>
            </dl>
        </div>
    </div>
</div>








<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Full-size image</h5>
            </div>
            <div class="modal-body">
                <img id="fullSizeImage" src="" alt="Full-size image" style="width: 100%; height: auto;" />
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("a[data-toggle='modal']").on("click", function (e) {
            e.preventDefault();
            var url = $(this).attr("href");
            var title = $(this).data("title");
            $("#myModalLabel").text(title);
            // Xóa nội dung cũ trước khi tải nội dung mới
            $("#myModal .modal-body").empty();
            $("#myModal .modal-body").load(url, function () {
                $("#myModal").modal("show");
            });
        });

        $(document).on("click", ".thumbnail", function () {
            var imagePath = $(this).data("imagepath");
            $("#fullSizeImage").attr("src", imagePath);
            $("#imageModal").modal("show");
        });

        $("#imageModal").on("hidden.bs.modal", function () {
            $("#fullSizeImage").attr("src", "");
        });
    });
</script>