@*@model Tikkit_SolpacWeb.Models.Requests

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Requests</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestPerson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestPerson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Partner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Partner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoftwareProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoftwareProduct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgramName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgramName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentSituation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentSituation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContentsOfRequest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContentsOfRequest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorrectSituation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorrectSituation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RequestNo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
*@