@model IEnumerable<Tikkit_SolpacWeb.Models.Requests>
@using System.Text.RegularExpressions;

@functions {
    public static string ExtractPhoneNumber(string input)
    {
        if (string.IsNullOrEmpty(input)) return string.Empty;

        var regex = new Regex(@"\d+");
        var match = regex.Match(input);

        return match.Success ? match.Value : string.Empty;
    }
}

@{
    ViewData["Title"] = "Index";
}

<div class="container form-container">
    <form method="get" class="row">
        @{
            var prioritySelected = Context.Request.Query["priority"];
            var statusSelected = Context.Request.Query["status"];
        }
        <div class="col-3">
            <!-- Column 1 -->
            <input class="form-control mb-2 short-input" type="date" name="fromDate" placeholder="From Date" aria-label="From Date" value="@Context.Request.Query["fromDate"]">
            @if (ViewBag.UserRole != "Staff")
            {
                <input class="form-control mb-2 short-input" type="text" name="requestPerson" placeholder="Người yêu cầu" aria-label="Request Person" value="@Context.Request.Query["requestperson"]">
            }
            <select class="form-control mb-2 short-input" name="priority">
                <option value="" selected="@(string.IsNullOrEmpty(prioritySelected))">Mức ưu tiên</option>
                <option value="Normal" selected="@(prioritySelected == "Normal")">Thông thường</option>
                <option value="Urgent" selected="@(prioritySelected == "Urgent")">Khẩn cấp</option>
            </select>
        </div>
        <div class="col-3">
            <!-- Column 2 -->
            <input class="form-control mb-2 short-input" type="date" name="toDate" placeholder="To Date" aria-label="To Date" value="@Context.Request.Query["toDate"]">
            @if (ViewBag.UserRole == "Staff")
            {
                <input class="form-control mb-2 short-input" type="text" name="partner" placeholder="Công ty" aria-label="Partner" value="@Context.Request.Query["partner"]">
                <input class="form-control mb-2 short-input" type="text" name="createPerson" placeholder="Người tạo" aria-label="Create Person" value="@Context.Request.Query["createPerson"]">
            }
            <input class="form-control mb-2 short-input" type="text" name="project" placeholder="Dự án" aria-label="Project" value="@Context.Request.Query["project"]">
        </div>
        <div class="col-3">
            <!-- Column 3 -->
            <select class="form-control mb-2 short-input" name="status">
                <option value="" selected="@(string.IsNullOrEmpty(statusSelected))">Trạng thái</option>
                <option value="Đã hoàn thành" selected="@(statusSelected == "Đã hoàn thành")">Đã hoàn thành</option>
                <option value="Đang xử lý" selected="@(statusSelected == "Đang xử lý")">Đang xử lý</option>
                <option value="Đang chờ" selected="@(statusSelected == "Đang chờ")">Đang chờ</option>
            </select>
            <input class="form-control mb-2 short-input" type="text" name="supporter" placeholder="Người hỗ trợ" aria-label="Supporter" value="@Context.Request.Query["supporter"]">
        </div>
        <div class="col-3">
            <div class="d-flex align-items-center mb-2">
                <span class="color-box" style="background-color: #FCD5B4;">&nbsp;</span> Đang chờ
            </div>
            <div class="d-flex align-items-center mb-2">
                <span class="color-box" style="background-color: #F2CF59;">&nbsp;</span> Đang xử lý
            </div>
            <div class="d-flex align-items-center mb-2">
                <span class="color-box" style="background-color: #B5DDD1;">&nbsp;</span> Đã hoàn thành
            </div>
        </div>
        <div class="col-12 text-center">
            <button class="btn btn-outline-success my-2 my-sm-0 mx-2" type="submit">Tìm kiếm</button>
            <a class="btn btn-outline-danger my-2 my-sm-0 mx-2" asp-action="Index" asp-controller="Requests">Hủy</a>
        </div>
    </form>
</div>


    
<br />
    <div class="d-flex justify-content-center">
        <a class="btn btn-outline-info mx-1" asp-action="ExportToExcel" asp-all-route-data="@(Context.Request.Query.ToDictionary(k => k.Key, k => k.Value.ToString()))">Xuất file</a>
        <button id="importButton" class="btn btn-primary mx-1">Nhập file</button>
        @if (ViewBag.UserRole != "Staff")
        {
            <a class="btn btn-success mx-1" asp-controller="Requests" asp-action="Create">Tạo yêu cầu</a>
        }
    </div>

    <form id="importForm" asp-action="ImportFromExcel" method="post" enctype="multipart/form-data" style="display: none;">
        <input type="file" id="file" name="file">
    </form>
<br />
<br />

<table class="table bordered-table">
    <thead>
        <tr>
            <th></th>
            <th>Stt</th>
            <th>Ngày yêu cầu</th>
            @if (ViewBag.UserRole == "Client" || ViewBag.UserRole == "Admin")
            {
                <th>Người yêu cầu</th>
            }
            <th>Ngày bắt đầu</th>
            @if (ViewBag.UserRole == "Staff")
            {
                <th>Thời gian bắt đầu</th>
            }
            <th>Ngày dự kiến</th>
            @if (ViewBag.UserRole == "Staff")
            {
                <th>Thời gian kết thúc</th>
            }
            <th>Ngày kết thúc</th>
            @if (ViewBag.UserRole == "Staff")
            {
                <th>Công ty</th>
                <th>Dự án</th>
                <th>Người yêu cầu</th>
                <th>Người tạo yêu cầu</th>
            }
            <th>Mức ưu tiên</th>
            <th>Dự án</th>
            <th>Tiêu đề</th>
            <th>Nội dung yêu cầu</th>
            @if (ViewBag.UserRole == "Staff")
            {
                <th>Hình ảnh</th>
                <th>Nguyên nhân</th>
            }
            <th>Nội dung hỗ trợ</th>
            <th>Thời gian đã hỗ trợ</th>
            @if (ViewBag.UserRole != "Staff")
            {
                <th>Người hỗ trợ</th>
            }
            <th>Trạng thái</th>
            @if (ViewBag.UserRole == "Staff")
            {
                <th>Liên hệ</th>
            }
        </tr>
    </thead>
    <tbody>
        @{
            int order = 1;
        }
        @foreach (var request in Model.OrderByDescending(r => r.RequestDate).Where(r => string.IsNullOrEmpty(Context.Request.Query["search"]) || r.SubjectOfRequest.Contains(Context.Request.Query["search"].ToString()) || r.ContentsOfRequest.Contains(Context.Request.Query["search"].ToString())))
        {
            string backgroundColor = "";
            switch (request.Status)
            {
                case "Đang chờ":
                    backgroundColor = "#FCD5B4";
                    break;
                case "Đang xử lý":
                    backgroundColor = "#F2CF59";
                    break;
                case "Đã hoàn thành":
                    backgroundColor = "#B5DDD1";
                    break;
            }
            <tr style="background-color: @backgroundColor">
                <td>
                    <a asp-action="Details" asp-route-id="@request.RequestNo" data-toggle="modal" data-target="#myModal" data-title="Details"><i class="bi bi-info-lg"></i></a>
                </td>
                <td>@order</td>
                <td>@request.RequestDate.ToString("dd-MM")</td>
                @if (ViewBag.UserRole == "Client" || ViewBag.UserRole == "Admin")
                {
                    <td>@request.RequestPerson</td>
                }
                <td>@(request.StartDate.HasValue && request.StartDate.Value != DateTime.MinValue ? request.StartDate.Value.ToString("dd-MM") : "")</td>
                @if (ViewBag.UserRole == "Staff")
                {
                    <td>@(request.StartDate.HasValue && request.StartDate.Value != DateTime.MinValue ? request.StartDate.Value.ToString("HH:mm") : "")</td>
                }
                <td>@(request.ExpectedDate.HasValue && request.ExpectedDate.Value != DateTime.MinValue ? request.ExpectedDate.Value.ToString("dd-MM") : "")</td>
                @if (ViewBag.UserRole == "Staff")
                {
                    <td>@(request.EndDate.HasValue && request.EndDate.Value != DateTime.MinValue ? request.EndDate.Value.ToString("HH:mm") : "")</td>
                }
                <td>@(request.EndDate.HasValue && request.EndDate.Value != DateTime.MinValue ? request.EndDate.Value.ToString("dd-MM") : "")</td>
                @if (ViewBag.UserRole == "Staff")
                {
                    <td>@request.Partner</td>
                    <td>@request.Project</td>
                    <td>@request.RequestPerson</td>
                    <td>@request.CreatePerson</td>
                }
                <td>@request.Priority</td>
                <td>@request.Project</td>
                <td>@request.SubjectOfRequest</td>
                <td>@request.ContentsOfRequest</td>
                @if (ViewBag.UserRole == "Staff")
                {
                    <td>
                        @if (!string.IsNullOrEmpty(request.ImagePath))
                        {
                            <img src="@request.ImagePath" alt="Uploaded image" style="max-width: 100%; height:auto; cursor: pointer;" class="index-thumbnail" data-toggle="modal" data-target="#indexImageModal" data-imagepath="@request.ImagePath" />
                        }
                        else
                        {
                            <p>Không có hình ảnh</p>
                        }
                    </td>
                    <td>@request.Reason</td>
                }
                <td>@request.SupportContent</td>
                <td>@request.TotalTime</td>
                @if (ViewBag.UserRole != "Staff")
                {
                    <td>@request.Supporter</td>
                }
                <td>
                    @if (@request.Status != "Đã hoàn thành")
                    {
                        @if (ViewBag.UserRole == "Staff")
                        {
                            <a asp-action="StaffResponse" asp-route-id="@request.RequestNo" data-toggle="modal" data-target="#myModal" data-title="Response">@request.Status</a>
                        }
                        else
                        {
                            @request.Status
                        }
                    }
                    else
                    {
                        @request.Status
                    }
                </td>                
                @if (ViewBag.UserRole == "Staff")
                {
                <td>
                    @{
                        var phoneNumber = ExtractPhoneNumber(request.Contact);
                        var zaloLink = $"https://zalo.me/{phoneNumber}";
                    }
                    @if (!string.IsNullOrEmpty(phoneNumber))
                    {
                            <a href="@zaloLink" target="_blank"><i class="bi bi-envelope-fill"></i></a>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => request.Contact)
                    }
                </td>
                }
                @if (ViewBag.UserRole == "Staff")
                {
                    <td>
                        <a asp-action="EditforStaff" asp-route-id="@request.RequestNo" data-toggle="modal" data-target="#myModal" data-title="Edit"><i class="bi bi-pencil-square"></i></a>
                    </td>
                }
            </tr>
            order++;
        }
    </tbody>
</table>


<div class="d-flex justify-content-center">
    @{
        int num = ViewBag.PageNo + 1;
    }
    @if (ViewBag.PageNo > 0)
    {
        <a href="@Url.Action("Index", new { pageNo = ViewBag.PageNo - 1, pageSize = ViewBag.PageSize })">Trang trước</a>
    }

    <span>Trang @num</span>

    @if (Model.Count() == ViewBag.PageSize)
    {
        <a href="@Url.Action("Index", new { pageNo = ViewBag.PageNo + 1, pageSize = ViewBag.PageSize })">Trang tiếp</a>
    }
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog custom-modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("a[data-toggle='modal']").on("click", function (e) {
            e.preventDefault();
            var url = $(this).attr("href");
            var title = $(this).data("title");
            $("#myModalLabel").text(title);
            // Xóa nội dung cũ trước khi tải nội dung mới
            $("#myModal .modal-body").empty();
            $("#myModal .modal-body").load(url, function () {
                $("#myModal").modal("show");
            });
        });
    });
</script>







<div class="modal fade" id="indexImageModal" tabindex="-1" role="dialog" aria-labelledby="indexImageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="indexImageModalLabel">Hình ảnh</h5>
            </div>
            <div class="modal-body">
                <img id="indexFullSizeImage" src="" alt="Full-size image" style="width: 100%; height: auto;" />
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $(document).on("click", ".index-thumbnail", function () {
            var imagePath = $(this).data("imagepath");
            $("#indexFullSizeImage").attr("src", imagePath);
            $("#indexImageModal").modal("show");
        });

        $("#indexImageModal").on("hidden.bs.modal", function () {
            $("#indexFullSizeImage").attr("src", "");
        });
    });
</script>



<script>
    document.getElementById("importButton").addEventListener("click", function () {
        document.getElementById("file").click();
    });

    document.getElementById("file").addEventListener("change", function () {
        if (this.value) {
            document.getElementById("importForm").submit();
        }
    });
</script>


