@model IEnumerable<Tikkit_SolpacWeb.Models.Requests>
@using System.Text.RegularExpressions;

@functions {
    public static string ExtractPhoneNumber(string input)
    {
        if (string.IsNullOrEmpty(input)) return string.Empty;

        var regex = new Regex(@"\d+");
        var match = regex.Match(input);

        return match.Success ? match.Value : string.Empty;
    }
}

@{
    ViewData["Title"] = "Index";
}

<form method="get" class="form-inline my-2 my-lg-0">
    @{
        var prioritySelected = Context.Request.Query["priority"];
        var statusSelected = Context.Request.Query["status"];
    }
    <input class="form-control mr-sm-2" type="date" name="fromDate" placeholder="From Date" aria-label="From Date" value="@Context.Request.Query["fromDate"]">
    <input class="form-control mr-sm-2" type="date" name="toDate" placeholder="To Date" aria-label="To Date" value="@Context.Request.Query["toDate"]">
    <input class="form-control mr-sm-2" type="text" name="partner" placeholder="Partner" aria-label="Partner" value="@Context.Request.Query["partner"]">
    <select class="form-control mr-sm-2" name="priority">
        <option value="" selected="@(string.IsNullOrEmpty(prioritySelected))">Mức ưu tiên</option>
        <option value="Normal" selected="@(prioritySelected == "Normal")">Thông thường</option>
        <option value="Urgent" selected="@(prioritySelected == "Urgent")">Khẩn cấp</option>
    </select>
    @if(ViewBag.UserRole == "Staff")
    {
        <input class="form-control mr-sm-2" type="text" name="createPerson" placeholder="Create Person" aria-label="Create Person" value="@Context.Request.Query["createPerson"]">
    }
    <input class="form-control mr-sm-2" type="text" name="project" placeholder="Project" aria-label="Project" value="@Context.Request.Query["project"]">
    <select class="form-control mr-sm-2" name="status">
        <option value="" selected="@(string.IsNullOrEmpty(statusSelected))">Trạng thái</option>
        <option value="Done" selected="@(statusSelected == "Done")">Đã hoàn thành</option>
        <option value="Processing" selected="@(statusSelected == "Processing")">Đang xử lý</option>
        <option value="Pending" selected="@(statusSelected == "Pending")">Chờ xử lý</option>
    </select>
    <input class="form-control mr-sm-2" type="text" name="supporter" placeholder="Người hỗ trợ" aria-label="Supporter" value="@Context.Request.Query["supporter"]">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>

</form>


    
<br />
    <a class="btn btn-outline-info" asp-action="ExportToExcel" asp-all-route-data="@(Context.Request.Query.ToDictionary(k => k.Key, k => k.Value.ToString()))">Xuất file</a>
<a class="btn btn-outline-primary ml-2" asp-action="ImportFromFile" asp-all-route-data="@(Context.Request.Query.ToDictionary(k => k.Key, k => k.Value.ToString()))">Nhập file</a>
<br />
<br />

<table class="table bordered-table">
    <thead>
        <tr>
            <th></th>
            <th>Stt</th>
            <th>Ngày yêu cầu</th>
            @if (ViewBag.UserRole == "Client" || ViewBag.UserRole == "Admin")
            {
                <th>Người yêu cầu</th>
            }
            <th>Ngày bắt đầu</th>
            @if (ViewBag.UserRole == "Staff")
            {
                <th>Thời gian bắt đầu</th>
            }
            <th>Ngày dự kiến</th>
            @if (ViewBag.UserRole == "Staff")
            {
                <th>Thời gian kết thúc</th>
            }
            <th>Ngày kết thúc</th>
            @if (ViewBag.UserRole == "Staff")
            {
                <th>Công ty</th>
                <th>Dự án</th>
                <th>Người yêu cầu</th>
                <th>Người tạo yêu cầu</th>
            }
            <th>Mức ưu tiên</th>
            <th>Tiêu đề</th>
            <th>Nội dung yêu cầu</th>
            @if (ViewBag.UserRole == "Staff")
            {
                <th>Hình ảnh</th>
                <th>Nguyên nhân</th>
            }
            <th>Nội dung hỗ trợ</th>
            <th>Thời gian đã hỗ trợ</th>
            @if (ViewBag.UserRole == "Staff")
            {
                <th>Người hỗ trợ</th>
            }
            <th>Trạng thái</th>
            @if (ViewBag.UserRole == "Staff")
            {
                <th>Liên hệ</th>
            }
        </tr>
    </thead>
    <tbody>
        @{
            int order = 1;
        }
        @foreach (var request in Model.OrderByDescending(r => r.RequestDate).Where(r => string.IsNullOrEmpty(Context.Request.Query["search"]) || r.SubjectOfRequest.Contains(Context.Request.Query["search"].ToString()) || r.ContentsOfRequest.Contains(Context.Request.Query["search"].ToString())))
        {
            string backgroundColor = "";
            switch (request.Status)
            {
                case "Đang chờ":
                    backgroundColor = "#FCD5B4";
                    break;
                case "Đang xử lý":
                    backgroundColor = "#F2CF59";
                    break;
                case "Đã hoàn thành":
                    backgroundColor = "#B5DDD1";
                    break;
            }
            <tr style="background-color: @backgroundColor">
                <td>
                    <a asp-action="Details" asp-route-id="@request.RequestNo" data-toggle="modal" data-target="#myModal" data-title="Details">Details</a>
                </td>
                <td>@order</td>
                <td>@request.RequestDate.ToString("dd-MM")</td>
                @if (ViewBag.UserRole == "Client" || ViewBag.UserRole == "Admin")
                {
                    <td>@request.RequestPerson</td>
                }
                <td>@(request.StartDate.HasValue && request.StartDate.Value != DateTime.MinValue ? request.StartDate.Value.ToString("dd-MM") : "")</td>
                @if (ViewBag.UserRole == "Staff")
                {
                    <td>@(request.StartDate.HasValue && request.StartDate.Value != DateTime.MinValue ? request.StartDate.Value.ToString("HH:mm") : "")</td>
                }
                <td>@(request.ExpectedDate.HasValue && request.ExpectedDate.Value != DateTime.MinValue ? request.ExpectedDate.Value.ToString("dd-MM") : "")</td>
                @if (ViewBag.UserRole == "Staff")
                {
                    <td>@(request.EndDate.HasValue && request.EndDate.Value != DateTime.MinValue ? request.EndDate.Value.ToString("HH:mm") : "")</td>
                }
                <td>@(request.EndDate.HasValue && request.EndDate.Value != DateTime.MinValue ? request.EndDate.Value.ToString("dd-MM") : "")</td>
                @if (ViewBag.UserRole == "Staff")
                {
                    <td>@request.Partner</td>
                    <td>@request.Project</td>
                    <td>@request.RequestPerson</td>
                    <td>@request.CreatePerson</td>
                }
                <td>@request.Priority</td>
                <td>@request.SubjectOfRequest</td>
                <td>@request.ContentsOfRequest</td>
                @if (ViewBag.UserRole == "Staff")
                {
                    <td>
                        @if (!string.IsNullOrEmpty(request.ImagePath))
                        {
                            <img src="@request.ImagePath" alt="Uploaded image" style="max-width: 100%; height:auto; cursor: pointer;" class="index-thumbnail" data-toggle="modal" data-target="#indexImageModal" data-imagepath="@request.ImagePath" />
                        }
                        else
                        {
                            <p>Không có hình ảnh</p>
                        }
                    </td>
                    <td>@request.Reason</td>
                }
                <td>@request.SupportContent</td>
                <td>@request.TotalTime</td>
                @if (ViewBag.UserRole == "Staff")
                {
                    <td>@request.Supporter</td>
                }
                <td>
                    @if (@request.Status != "Đã hoàn thành")
                    {
                        @if (ViewBag.UserRole == "Staff")
                        {
                            <a asp-action="StaffResponse" asp-route-id="@request.RequestNo" data-toggle="modal" data-target="#myModal" data-title="Response">@request.Status</a>
                        }
                        else
                        {
                            @request.Status
                        }
                    }
                    else
                    {
                        @request.Status
                    }
                </td>                
                @if (ViewBag.UserRole == "Staff")
                {
                <td>
                    @{
                        var phoneNumber = ExtractPhoneNumber(request.Contact);
                        var zaloLink = $"https://zalo.me/{phoneNumber}";
                    }
                    @if (!string.IsNullOrEmpty(phoneNumber))
                    {
                        <a href="@zaloLink" target="_blank">Zalo</a>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => request.Contact)
                    }
                </td>
                }
                <td>
                    <a asp-action="EditforStaff" asp-route-id="@request.RequestNo" data-toggle="modal" data-target="#myModal" data-title="Edit">Edit</a>
                </td>
            </tr>
            order++;
        }
    </tbody>
</table>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("a[data-toggle='modal']").on("click", function (e) {
            e.preventDefault();
            var url = $(this).attr("href");
            var title = $(this).data("title");
            $("#myModalLabel").text(title);
            // Xóa nội dung cũ trước khi tải nội dung mới
            $("#myModal .modal-body").empty();
            $("#myModal .modal-body").load(url, function () {
                $("#myModal").modal("show");
            });
        });
    });
</script>







<div class="modal fade" id="indexImageModal" tabindex="-1" role="dialog" aria-labelledby="indexImageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="indexImageModalLabel">Hình ảnh</h5>
            </div>
            <div class="modal-body">
                <img id="indexFullSizeImage" src="" alt="Full-size image" style="width: 100%; height: auto;" />
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $(document).on("click", ".index-thumbnail", function () {
            var imagePath = $(this).data("imagepath");
            $("#indexFullSizeImage").attr("src", imagePath);
            $("#indexImageModal").modal("show");
        });

        $("#indexImageModal").on("hidden.bs.modal", function () {
            $("#indexFullSizeImage").attr("src", "");
        });
    });
</script>


